[submodule "cmake"]
	path = cmake
	url = https://github.com/samkellett/cmake-modules.git
[submodule "ext/gtest"]
	path = ext/gtest
	url = https://chromium.googlesource.com/external/googletest
[submodule "ext/gmock"]
	path = ext/gmock
	url = https://chromium.googlesource.com/external/googlemock
[submodule "scripts/misc"]
	path = scripts/misc
	url = https://github.com/biicode/misc.git
[submodule "ext/range-v3"]
	path = ext/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "ext/hana"]
	path = ext/hana
	url = https://github.com/boostorg/hana.git
